.DS_Store
node_modules
**/node_modules/**
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo
**/tsconfig.tsbuildinfo
whisper/main
whisper/models/*
!/whisper/models/.gitkeep
uploads/*
!/uploads/video
uploads/video/*
!/uploads/video/.gitkeep
/out/**
docker-compose-self.yml
./whisper/**

.pnpm-store/
~/.npmrc
.npmrc

coverage/
.env*
.flaskenv*
!.env.project
!.env.vault